<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books in the library</title>
    <link rel="stylesheet" type="text/css" href="css/example.css" />
    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    
    <h1>Welcome! Here are the books in the database</h1>
    <table class = "prettytable">
    
    <tr>
    <th>Title</th>
    <th>Branch Name</th>
    <th>Number of Copies</th>
    <th>Details</th>
    
    </tr>
    
     <tr th:each="book: ${bookList}">
        <td th:text="${book.bookName}"/>
        <td th:text="${book.branchName}"/>
        <td th:text="${book.copies}"/>
        
        <td>
        <a th:href="@{'/BookDetails/' + ${book.bookId}} + '/'+ ${book.branchName}">Details</a>
        </td>

    </tr>
    
    
    </table> 
    
    
</body>
</html>